body {
background-color: #eef4ed;
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.5;
}

#header {
background-color: #fff;
padding: 20px;
}

#header h1 {
font-size: 32px;
margin: 0;
}

#header form {
display: inline-block;
margin-top: 10px;
}

#header input[type="search"] {
border: none;
border-radius: 5px;
padding: 10px;
}

#header button[type="submit"] {
background-color: #3b3b3b;
border: none;
border-radius: 5px;
color: #fff;
padding: 10px 15px;
margin-left: 10px;
}

#content {
display: flex;
flex-wrap: wrap;
margin: 20px;
}

.product {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
margin: 10px;
padding: 20px;
text-align: center;
width: calc(33.33% - 20px);
}

.product img {
width: 150px;
height: 150px;
}
.product h2 {
font-size: 24px;
margin: 10px 0;
}

.product p {
font-size: 16px;
margin: 10px 0;
}

.product button {
background-color: #3b3b3b;
border: none;
border-radius: 5px;
color: #fff;
padding: 10px 15px;
margin-top: 10px;
}

.product button:not(:last-child) {
margin-right: 10px;
}

.product button:hover {
cursor: pointer;
background-color: #4f4f4f;
}