*{
	backgound:#0B2545;
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'poppins', sans-serif;
	font-size:18px;
}


body{
	background-color: #eef4ed;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

.titolo{
	height:100px;
	width:100%;
	background-color:#0B2545;
	border-radius:3px;
	margin:5px 0px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:15px;
}

.titolo	.nomeSito{
	font-size:30px;
	font-weight:bold;
	color:white;
}

.cart{
	display:flex;
	background-color:#0B2545;
	justify-content:space-between;
	align-items: center;
	padding:25px 10px;  
	border-radius:3px;
	width:60px;
	position: relative;
    margin-right: 100px;
}


table{
	width:100%;
	
}


th, td {
  border-bottom: 1px solid #ddd;
  text-align:center;
}





.box{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	border:1px solid goldenrod;
	border-radius:5px;
	padding:15px;
}

.img-box{
	width:100%;
	height:180px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.images{
	max-width:90%;
	max-height:90%;
	object-fit:cover;
	object-position:center;
}

.bottom{
	margin-top:20px;
	width:100%;
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	height:110px;
}

h2{
	font-size:20px;
	color:red;
}

button{
	width:100%;
	position:relative;
	border:none;
	border-radius:5px;
	background-color:goldenrod;
	padding:7px 25px;
	cursor:pointer;
	color:white;
	
}

button:hover{
	background-color:#333;
}

a:link, a:visited {
	background-color: goldenrod;
	color: white;
	padding: 7px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
a:hover, a:active {
  background-color: black;
}




